/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#greenInfoTip {
	-fx-background: rgba(30,30,30);
    -fx-text-fill: white;
    -fx-background-color: rgb(61,226,61);
    -fx-background-radius: 6px;
    -fx-background-insets: 6px;
    -fx-padding: 0.667em 0.75em 0.667em 0.75em; /* 10px */
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 3 );
    -fx-font-size: 14px;
}
#menuIt {
	-fx-font-weight: bold;
	-fx-background-color: rgb(102,128,230);
}